.drama-creator{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  .dc-row{
    width: 40%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
    .dc-col{
      width: 100%;
      .dc-title{
        width: 100%;
        text-align: start;
      }
      .dc-desc{
        width: 800px;
        height: 300px;
      }
    }
    .dc-poster{
      width: auto;
      height: 300px;
    }
  }
}