.line{
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, #1c043c 16%, #241C34 20%, #32244E 35.72%, #36143F 99.71%);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  box-sizing: border-box;
  padding-bottom: 5vh;
  overflow-y: auto;

  .line-invite-modal{
    position: fixed;
    width: 80%;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    background: #1c043c;
    border: 1px solid white;
    box-sizing: border-box;
    padding: 3vh 5vw 3vh 5vw;
    border-radius: 50px;
    z-index: 200;
    .line-invite-modal-close{
      position: absolute;
      left: 50%;
      bottom: -2vh;
      transform: translateX(-50%) translateY(100%);
      width: 5vh;
      height: auto;
      aspect-ratio: 1;
      z-index: 201;
    }
    .line-invite-modal-title{
      text-align: center;
      font-size: 3.5vh;
      color: #fB0;
      text-shadow:
              0 0 5vw rgba(252, 249, 201, 0.80),
              0.08vh 0 #ac6629,
              -0.08vh 0 #ac6629,
              0 0.08vh #ac6629,
                0 -0.08vh #ac6629,
              0.08vh 0.08vh #ac6629,
                -0.08vh -0.08vh #ac6629,
                0.08vh -0.08vh #ac6629,
              -0.08vh 0.08vh #ac6629,

              0.25vh 0 #fff,
              -0.25vh 0 #fff,
              0 0.25vh #fff,
                0 -0.25vh #fff,
              0.25vh 0.25vh #fff,
                -0.25vh -0.25vh #fff,
                0.25vh -0.25vh #fff,
              -0.25vh 0.25vh #fff,

              ;
    }
    .line-invite-modal-desc{
      margin-top: 5vh;
      font-size: 2.5vh;
      color: white;
      white-space: pre;
      text-wrap: wrap;
    }
    .line-modal-input-box{
      margin-top: 5vh;
      height: 5vh;
      display: flex;
      justify-content: center;
      align-items: center;
      gap:2vw;
      input{
        height: 60%;
        width: 40vw;
        background: rgba(255,255,255,0.1);
        border: none;
        border-radius: 9999px;
        color: white;
        font-size: 2vh;
        font-weight: bold;
        text-align: center;
      }
      .line-modal-input-btn{
        position: relative;
        height: 70%;
        width: 20vw;
        border-radius: 9999px;
        background: linear-gradient(90deg, #FB7D17 0%, #E23673 100%);
        color: white;
        font-size: 2vh;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        box-shadow: 0 0 10px rgba(252, 249, 201, 0.50);
      }
    }
    .line-modal-input-tip{
      font-size: 1.5vh;
      color: white;
    }
  }

  .line-modal-btn-mask{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 98%;
    height: 98%;
    border-radius: 9999px;
    background: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0.6) 0%,
            rgba(255, 255, 255, 0) 50%,
            rgba(255, 255, 255, 0) 100%
    );
  }
  .line-modal-mask{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(255,255,255,0.5);
    z-index: 100;
  }
  .line-coupon-modal{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
    z-index: 101;
    gap: 2vh;
    .line-coupon-content{
      width: 100%;
      height: auto;
      background: #1c043c;
      border: 1px solid white;
      box-sizing: border-box;
      padding: 3vh 5vw 3vh 5vw;
      border-radius: 50px;

      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;

      gap: 2vh;
      video{
        max-width: 96%;
        max-height: 60vh;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
      }
      .line-coupon-content-desc{
        color: white;
      }
    }
    .line-coupon-btn-box{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2vw;
      width: 100%;
      height: 5vh;
      .line-coupon-btn-close{
        position: relative;
        border-radius: 9999px;
        width: 40%;
        height: 100%;
        background: linear-gradient(90deg, #111111 0%, #555555 100%);
        color: white;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        box-shadow: 0 0 10px rgba(252, 249, 201, 0.50);
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 2vh;
      }
      .line-coupon-btn-go{
        position: relative;
        border-radius: 9999px;
        width: 40%;
        height: 100%;
        background: linear-gradient(90deg, #FB7D17 0%, #E23673 100%);
        color: white;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        box-shadow: 0 0 10px rgba(252, 249, 201, 0.50);
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 2vh;
      }
    }
  }

  .line-coin-modal{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
    z-index: 101;
    gap: 2vh;
    .line-coin-content{
      width: 100%;
      height: auto;
      background: #1c043c;
      border: 1px solid white;
      box-sizing: border-box;
      padding: 3vh 5vw 3vh 5vw;
      border-radius: 50px;

      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;

      gap: 2vh;
      .line-coin-content-desc{
        text-align: center;
        color: white;
      }
    }
    .line-coin-btn-box{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2vw;
      width: 100%;
      height: 5vh;
      .line-coin-btn-close{
        position: relative;
        border-radius: 9999px;
        width: 40%;
        height: 100%;
        background: linear-gradient(90deg, #111111 0%, #555555 100%);
        color: white;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        box-shadow: 0 0 10px rgba(252, 249, 201, 0.50);
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 2vh;
      }
      .line-coin-btn-go{
        position: relative;
        border-radius: 9999px;
        width: 40%;
        height: 100%;
        background: linear-gradient(90deg, #FB7D17 0%, #E23673 100%);
        color: white;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        box-shadow: 0 0 10px rgba(252, 249, 201, 0.50);
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 2vh;
      }
    }
  }

  .line-gift-modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 80%;
    height: 60vh;
    background: #1c043c;
    border: 1px solid white;
    border-radius: 50px;
    z-index: 101;

    box-sizing: border-box;
    padding: 3vh 5vw 3vh 5vw;

    .line-gift-modal-close{
      position: absolute;
      left: 50%;
      bottom: -2vh;
      transform: translateX(-50%) translateY(100%);
      width: 5vh;
      height: auto;
      aspect-ratio: 1;
      z-index: 201;
    }
    .line-gift-modal-content{
      position: relative;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      gap: 2vh;
      .line-gift-modal-empty{
        width: 40vw;
        height: auto;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 2vh;
        font-weight: bold;
        color: white;
        gap: 2vh;
        text-align: center;
        .icon{
          width: 60%;
          height: auto;
          aspect-ratio: 1;
        }
      }
      .line-gift-modal-item{
        position: relative;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 2vw;
        height: 8vh;
        width: 100%;

        border-radius: 10px;
        background: rgba(255,255,255,0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-sizing: border-box;
        padding: 1vh 2vw 1vh 2vw;

        .line-gift-modal-item-tip{
          position: absolute;
          right: 2vw;
          bottom: 2vh;
          color: gray;
          font-size: 1vh;
          transform: rotate(-20deg);
        }
        .line-gift-modal-item-icon-box{
          height: 100%;
          width: auto;
          aspect-ratio: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #1c043c;
          .line-gift-modal-item-icon{
            width: 80%;
            height: 80%;
          }
        }
        .line-gift-modal-item-info{
          height: 100%;
          flex: 1;
          width: auto;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          color: white;
          font-size: 1.2vh;
          .line-gift-modal-item-info-text{

          }
          .line-gift-modal-item-info-status-gray{

          }
          .line-gift-modal-item-info-status-green{

          }
        }
      }
    }
    .line-gift-modal-item-coupon{
      .line-gift-modal-item-info{
        gap: 0.5vh;
      }
    }
    .line-gift-modal-item-coin{
      .line-gift-modal-item-info{
        gap: 1vh;
      }
    }
  }

  .line-bg{
    position: absolute;
    top: 5vh;
    width: 100%;
    height: auto;
    opacity: 0.7;
    mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);
    z-index: 1;
  }
  .line-bg2{
    position: absolute;
    bottom:0;
    left: 0;
    width: 40%;
    height: auto;
    opacity: 0.7;
    mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);
    z-index: 1;
  }
  .line-login{
    margin-top: 1vh;
    width: 100%;
    height: 3vh;
    display: flex;
    justify-content: end;
    align-items: center;
    .line-login-btn{
      background: linear-gradient(90deg, #f5315e, #f5315e, #ff512c);
      border-radius: 9999px;
      height: 100%;
      padding-left: 40px;
      padding-right: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 2vh;
      font-weight: bold;
      margin-right: 2vw;
      span{
        font-size: 2vh;
      }
      .icon{
        height: 80%;
        width: auto;
        aspect-ratio: 1;
        margin-right: 10px;
        animation: pulse 1s infinite ease-in-out;
      }
      @keyframes pulse {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.2); /* 变大一点 */
        }
        100% {
          transform: scale(1); /* 回到原始大小 */
        }
      }
    }
  }
  .line-title1{
    margin-top: 2vh;
    color: #FFF5E5;
    text-shadow: 0 0 10px rgba(252, 249, 201, 0.50);
    font-size: 7vw;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    z-index: 2;
    text-align: center;
  }
  .line-title2{
    margin-top: 5vh;
    color: #FFF;
    text-align: center;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 3vh;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    height: 9vh;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.50) 47.12%, rgba(255, 255, 255, 0.05) 100%);
  }
  .line-gift{
    margin-top: 4vh;
    width: 100%;
    height: 3vh;
    display: flex;
    justify-content: end;
    align-items: center;
    .line-gift-btn{
      height: 100%;
      width: 30%;
      border-radius: 9999px 0 0 9999px;
      background: linear-gradient(90deg, #FB7D17 0%, #E23673 100%);
      box-shadow: 0 0 10px 0 #F46A2F;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 2vh;
      font-weight: bold;
    }
  }
  .line-tip-box{
    position:relative;
    margin-top: 2vh;
    width: 80%;
    height: 5vh;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    .line-tip{
      position: absolute;
      width: 100%;
      height: 100%;
      background: #DD18B9;
      stroke-width: 1px;
      stroke: #EEBDFF;
      box-shadow: 10px 10px 15px 0 rgba(255, 255, 255, 0.25) inset;
      transform: skew(-20deg);
      border-radius: 10px;
      border: #e7e4e1 1px solid;
      z-index: 1;
    }
    .line-tip-icon{
      position: absolute;
      top: -4vh;
      left: 7vw;
      height: 8vh;
      width: auto;
      aspect-ratio: 1;
      z-index: 2;
    }
    .line-tip-text{
      font-weight: bold;
      font-size: 3vh;
      z-index: 3;
      color: white;
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      margin-left: 8vw;
    }
  }
  .line-modal{
    z-index: 2;
    margin-top: 2vh;
    width: 90%;
    border-radius: 2vw;
    background: rgba(255,255,255,0.01);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    padding: 2vh 5vw 2vh 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    .line-modal-share{
      position: relative;
      margin-top: 2vh;
      padding-left: 10vw;
      padding-right: 10vw;
      background: linear-gradient(90deg, #FB7D17 0%, #E23673 100%);
      height: 5vh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: 2.5vh;
      border-radius: 9999px;
      color: white;
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      box-shadow: 0 0 10px rgba(252, 249, 201, 0.50);
    }
    .line-modal-title{
      position: relative;
      font-size: 3vh;
      color: white;
      font-weight: bold;
      text-shadow: 0 0 10px rgba(252, 249, 201, 0.50);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 3vh;
      .star{
        position: relative;
        height: 4vh;
        width: auto;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        .star-img{
          position: absolute;
          height: 200%;
          width: auto;
          aspect-ratio: 1;
        }
      }
    }
    .line-modal-text{
      font-size: 2vh;
      color: white;
      text-align: center;
    }
    .line-modal-input-box{
      height: 5vh;
      display: flex;
      justify-content: center;
      align-items: center;
      gap:2vw;
      input{
        height: 60%;
        width: 40vw;
        background: rgba(255,255,255,0.1);
        border: none;
        border-radius: 9999px;
        color: white;
        font-size: 2vh;
        font-weight: bold;
        text-align: center;
      }
      .line-modal-input-btn{
        height: 60%;
        width: 15vw;
        border-radius: 9999px;
        background: linear-gradient(90deg, #FB7D17 0%, #E23673 100%);
        color: white;
        font-size: 2vh;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .line-modal-input-tip{
      font-size: 1.5vh;
      color: white;
    }
    .line-modal-claimed{
      height: 5vh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2vh;
      color: greenyellow;
    }
    .line-modal-redeem-btn{
      position: relative;
      height: 4vh;
      box-sizing: border-box;
      padding-right: 5vw;
      padding-left: 5vw;
      background: linear-gradient(
              to bottom,
              rgba(255, 255, 255, 0.8) 0%,
              rgba(255, 255, 255, 0.1) 50%,
              rgba(255, 255, 255, 0.1) 100%
      );
      box-shadow: 0 0 10px rgba(252, 249, 201, 0.50);
      border-radius: 9999px;
      font-size: 2vh;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      .question{
        position: absolute;
        right: -2vw;
        top: 50%;
        transform: translateY(-50%) translateX(100%);
        height: 3vh;
        width: auto;
        aspect-ratio: 1;
        border-radius: 50%;
      }
      span{
        width: 7vw;
        display: flex;
        justify-content: center;
        vertical-align: baseline
      }
      .star{
        margin-left: 2vw;
        margin-right: 2vw;
        position: relative;
        height: 3vh;
        width: auto;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        .star-img{
          position: absolute;
          height: 200%;
          width: auto;
          aspect-ratio: 1;
        }
      }
      .icon{
        height: 3vh;
        width: auto;
        aspect-ratio: 1;
        margin-right: 2vw;
      }
      .coin{
        margin-left: 2vw;
        height: 3vh;
        width: auto;
        aspect-ratio: 1;
      }
      .code{
        margin-left: 2vw;
        height: 3vh;
        width: auto;
        aspect-ratio: 1;
      }
    }
  }
}
.line::-webkit-scrollbar {
  display: none;
}