.show {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
  .s-box {
    height: 90%;
    width: 100%;
  }
  .s-name{
    color: #bfbfbf;
    width: 100%;
    font-size: 5vw;
    text-align: center;
    text-decoration: underline;
  }
  .s-back-btn{
    position: absolute;
    color: #bfbfbf;
    left: 5vw;
    bottom: 2vh;
    font-size: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
      height: 3vh;
      width: auto;
    }
    span{
      height: 2vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .s-next-btn{
    position: absolute;
    color: #bfbfbf;
    right: 5vw;
    bottom: 2vh;
    font-size: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
      height: 3vh;
      width: auto;
    }
    span{
      height: 2vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}