.p-home{
  width: 100%;
  height: 100%;
  background: #131313;
  display: flex;
  flex-direction: column;
  align-items: center;
  .ph-agent{
    position: absolute;
    bottom: 20vh;
    right: 30px;
    width: 120px;
    height: 120px;
    .icon{
      width: 100%;
      height: 100%;
    }
    .ph-agent-question-box {
      display: none;
    }
  }
  .ph-agent:hover {
    .icon{
      transform: scale(1.5);
    }
    .ph-agent-question-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: end;
      gap: 20px;
      position: absolute;
      right: 0;
      bottom: -50px;
      transform: translateY(100%);
      .ph-agent-question{
        padding: 5px 50px;
        background: #f8f4fc;
        color: #8474fc;
        font-size: 30px;
        white-space: nowrap;
        border-radius: 9999px;
        opacity: 0;
        animation: fadeIn 1s forwards;
      }
      .ph-agent-question:nth-child(1){
        animation-delay: 0.25s;
      }
      .ph-agent-question:nth-child(2){
        animation-delay: 0.5s;
      }
      .ph-agent-question:nth-child(3){
        animation-delay: 0.75s;
      }
      @keyframes fadeIn {
        to {
          opacity: 1;
        }
      }
    }
  }
  .ph-purchase{
    position: absolute;
    z-index: 2;
    top: 50vh;
    transform: translateY(-50%);
    background: linear-gradient(90deg, #2193b0, #6dd5ed);
    width: 1000px;
    height: 500px;
    border-radius: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    .ph-p-title{
      font-size: 50px;
      font-weight: bold;
      color: white;
    }
    .ph-p-description{
      font-size: 30px;
      font-weight: bold;
      color: white;
    }
    .ph-p-icon-box{
      display: flex;
      gap: 50px;
      .icon{
        width: 120px;
        height: 100px;
      }
    }
  }
  .ph-p-mask{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: rgba(255,255,255,0.5);
    z-index: 1;
  }
  .pprism-player{
    .prism-big-play-btn{
      left: 5% !important;
      bottom: 20% !important;
      width: 20%;
      height: auto;
      aspect-ratio: 1;
      .outter{
        width: 100%;
        height: 100%;
      }
    }
    .prism-quality-selector{
      margin-right: 0 !important;
      margin-top: 0 !important;
      right: 50%;
      bottom: 50%;
      width: 80%;
      transform: translateX(50%) translateY(50%);
      .header{
        width: 100%;
        height: auto;
        font-size: 100%;
      }
      .selector-list{

      }
    }
    .prism-setting-list{
      margin-right: 0 !important;
      margin-top: 0 !important;
      right: 50%;
      bottom: 50%;
      width: 80%;
      height: 30%;
      transform: translateX(50%) translateY(50%);
      .prism-setting-item{
        font-size: 70%;
        height: 25%;
      }
    }
    .prism-controlbar{
      height: 9%;
      .prism-progress{
        height: 10%;
      }
      .prism-play-btn{
        margin-left: 2% !important;
        width: 10%;
        height: auto;
        aspect-ratio: 1;
        margin-top: 5% !important;
      }
      .prism-time-display{
        margin-left: 2% !important;
        font-size: 1vw;
        margin-top: 8% !important;
        height: auto;
        line-height: 80%;
        color: rgba(255,255,255,0.6);
      }
      .prism-setting-btn{
        margin-right: 2% !important;
        width: 10%;
        height: auto;
        aspect-ratio: 1;
        margin-top: 5% !important;
      }
      .prism-cc-btn{
        margin-right: 2% !important;
        width: 10%;
        height: auto;
        aspect-ratio: 1;
        margin-top: 5% !important;
      }
      .prism-fullscreen-btn{
        margin-right: 2% !important;
        width: 10%;
        height: auto;
        aspect-ratio: 1;
        margin-top: 5% !important;
      }
      .prism-volume{
        margin-right: 2% !important;
        margin-top: 5% !important;
        width: 10%;
        height: auto;
        aspect-ratio: 1;
        .volume-icon{
          width: 100%;
          height: 100%;
          .short-horizontal{
            width: 10.7%;
            height: 35.7%;
            right: 35.7%;
          }
          .long-horizontal{
            width: 10.7%;
            height: 64.28%;
            right: 17.85%;
          }
        }
        .mute{
          .volume-hover-animation{
            height: 35.7%;
          }
          .short-horizontal{
            top: 35.71%;
            left: 68.57%;
          }
          .long-horizontal{
            top: 35.71%;
            left: 68.57%;
          }
        }
      }
    }
  }
  .ph-header{
    width: 80vw;
    display: flex;
    align-items: end;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    .ph-h-left{
      width: 50%;
      display: flex;
      align-items: center;
      .ph-h-logo{
        height: 4vh;
      }
      .ph-h-home{
        margin-left: 3vw;
        font-size: 4vh;
        font-weight: bold;
        display: flex;
        color: white;
      }
    }
    .ph-h-right{
      display: flex;
      justify-content: end;
      width: 50%;
      .ph-h-h-mask{
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
        z-index: 1;
      }
      .ph-h-history{
        position: relative;
        margin-right: 1vw;
        svg{
          height: 4vh;
          aspect-ratio: 1;
          width: auto;
        }
        .ph-h-history-modal{
          position: absolute;
          width: 600px;
          height: 1200px;
          background: linear-gradient(90deg, #f5315e, #f5315e, #ff512c);
          z-index: 999;
          right: -10px;
          border-radius: 50px;
          padding: 50px 50px 50px 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          .ph-h-history-modal-inner{
            height: 90%;
            width: 90%;
            overflow: auto;
            .ph-h-h-m-end{
              width: 100%;
              text-align: center;
              font-weight: bold;
            }
            .ph-h-h-m-item{
              position: relative;
              width: 100%;
              height: 200px;
              border-bottom: #ff0000 solid 1px;
              display: flex;
              align-items: center;
              gap: 10px;
              .ph-h-h-m-item-poster{
                height: 90%;
              }
              .ph-h-h-m-item-info{
                width: 400px;
                height: 180px;
                display: flex;
                flex-direction: column;
                color: white;
                .ph-h-h-m-item-info-title{
                  height: 33%;
                  width: 100%;
                  font-size: 30px;
                  text-wrap: wrap;
                  overflow-wrap: break-word;
                  white-space: normal;
                  word-break: break-word;
                  font-weight: bold;
                  display: flex;
                  align-items: center;
                }
                .ph-h-h-m-item-info-content{
                  height: 33%;
                  width: 100%;
                  font-size: 25px;
                  text-wrap: wrap;
                  overflow-wrap: break-word;
                  white-space: normal;
                  word-break: break-word;
                  display: flex;
                  align-items: center;
                  span{
                    width: 50px;
                    text-align: center;
                    text-decoration: underline;
                  }
                }
                .ph-h-h-m-item-info-time{
                  height: 33%;
                  width: 100%;
                  text-align: end;
                  font-size: 25px;
                  text-wrap: wrap;
                  overflow-wrap: break-word;
                  white-space: normal;
                  word-break: break-word;
                  display: flex;
                  align-items: center;
                  justify-content: end;
                }
              }
            }
          }
          .ph-h-history-modal-inner::-webkit-scrollbar {
            width: 4px;
            height: 4px;
          }

          /* 滚动条轨道（背景） */
          .ph-h-history-modal-inner::-webkit-scrollbar-track {
            background: black;
            border-radius: 4px;
          }

          /* 滚动条滑块（拇指） */
          .ph-h-history-modal-inner::-webkit-scrollbar-thumb {
            background: gray;
            border-radius: 4px;
          }

          /* 鼠标悬停时的滑块颜色 */
          .ph-h-history-modal-inner::-webkit-scrollbar-thumb:hover {
            background: #f5315e;
          }
        }
      }
      .ph-h-login{
        background: linear-gradient(90deg, #f5315e, #f5315e, #ff512c);
        border-radius: 9999px;
        height: 4vh;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 100%;
        font-weight: bold;
        span{
          padding-left: 40px;
          padding-right: 40px;
          height: 100%;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          .icon{
            width: 35px;
            height: 35px;
            margin-right: 10px;
            animation: pulse 1s infinite ease-in-out;
          }
          @keyframes pulse {
            0% {
              transform: scale(1);
            }
            50% {
              transform: scale(1.2); /* 变大一点 */
            }
            100% {
              transform: scale(1); /* 回到原始大小 */
            }
          }
        }
        .ph-h-login-modal-mask{
          position: fixed;
          top: 0;
          left: 0;
          width: 100vw;
          height: 100vh;
          background: rgba(255, 255, 255, 0.5);
          z-index: 1;
        }
        .ph-h-login-modal{
          position: absolute;
          width: 800px;
          height: 650px;
          bottom: -10px;
          right: -10px;
          background: linear-gradient(90deg, #f5315e, #f5315e, #ff512c);
          border-radius: 20px;
          transform: translateY(100%);
          z-index: 2;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 50px;
          .ph-h-lm-title{
            font-size: 80px;
            font-weight: bold;
          }
          .ph-h-lm-desc{
            font-size: 40px;
            width: 90%;
            text-align: center;
          }
          .ph-h-lm-email{
            width: 80%;
            height: 50px;
            input{
              height: 100%;
              border-radius: 9999px;
              border: none;
              text-align: center;
              color: black;
            }
          }
          .ph-h-lm-code{
            width: 80%;
            height: 50px;
            display: flex;
            gap: 5%;
            align-items: center;
            justify-content: start;
            input{
              height: 100%;
              width: 65%;
              border-radius: 9999px;
              border: none;
              text-align: center;
              color: black;
            }
            .ph-h-lm-code-btn{
              width: 30%;
              height: 100%;
              font-size: 30px;
              font-weight: bold;
              border-radius: 9999px;
              padding: 5px 10px 5px 10px;
              display: flex;
              justify-content: center;
              align-items: center;
              background: linear-gradient(
                      to bottom right,
                      rgba(255, 255, 255, 0.9),
                      rgba(255, 255, 255, 0)
              );
              box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            }
          }
          .ph-h-lm-confirm{
            font-size: 50px;
            font-weight: bold;
            border-radius: 9999px;
            padding: 5px 10px 5px 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(
                    to bottom right,
                    rgba(255, 255, 255, 0.9),
                    rgba(255, 255, 255, 0)
            );
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
  }
  .ph-content{
    margin-top: 5vh;
    height: 60vh;
    width: 80vw;
    display: flex;
    .ph-c-playground{
      position: relative;
      display: block;
      justify-content: center;
      align-items: center;
      .ph-c-poster{
        height: 100%;
        width: auto;
        border-radius: 40px;
      }
      .ph-c-video{
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 2;
      }
    }
    .ph-c-info{
      margin-left: 5vw;
      display: flex;
      flex-direction: column;
      gap: 2vh;
      flex: 1;
      .ph-c-i-name{
        font-size: 3vh;
        font-weight: bold;
        color: white;
        .ph-c-i-n-more{
          margin-left: 1vw;
          display: inline-block;
          position: relative;
          font-weight: bold;
          font-size: 2vh;
          background: linear-gradient(90deg, #f5315e, #f5315e, #ff512c);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        .ph-c-i-n-more::after{
          content: '';
          position: absolute;
          left: 0;
          bottom: -2px;
          height: 3px;
          width: 100%;
          background: linear-gradient(90deg, #f5315e, #f5315e, #ff512c);
          border-radius: 2px;
        }
      }
      .ph-c-i-desc{
        font-size: 2vh;
        color: gray;
      }
      .ph-c-i-btn-box{
        width: 100%;
        display: flex;
        justify-content: end;
        gap: 1vw;
        .ph-c-i-btn-pay{
          background: linear-gradient(90deg, #2193b0, #6dd5ed);
          width: 20vw;
          height: 8vh;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: 40px;
          svg{
            height: 80px;
            width: 80px;
          }
          span{
            font-size: 70px;
            color: white;
            font-weight: bold;
          }
        }
        .paid{
          background: linear-gradient(90deg, #bbbbbb, #f5f5f5);
        }
        .ph-c-i-btn-play{
          background: linear-gradient(90deg, #f5315e, #f5315e, #ff512c);
          width: 20vw;
          height: 8vh;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: 40px;
          img{
            height: 80px;
          }
          span{
            font-size: 70px;
            color: white;
            font-weight: bold;
          }
        }
      }
      .ph-c-i-video{
        position: relative;
        flex: 1;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        overflow: auto;
        .ph-c-i-video-item{
          width: 100px;
          height: 100px;
          aspect-ratio: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 20%;
          color: white;
          font-size: 100%;
          font-weight: bold;
          span{
            margin-top: 5px;
          }
        }
        .free{
          background: linear-gradient(
                  to bottom right,
                  rgba(255, 255, 255, 0.2),
                  rgba(255, 255, 255, 0)
          );
          box-shadow: 0 1px 10px rgba(255, 255, 255, 0.1);
        }
        .pay{
          background: linear-gradient(
                  to bottom right,
                  rgb(89, 194, 245, 0.5),
                  rgba(255, 255, 255, 0)
          );
          box-shadow: 0 1px 10px rgba(255, 255, 255, 0.1);
        }
        .playing{
          background: linear-gradient(
                  to bottom right,
                  rgb(245, 49, 94, 0.2),
                  rgba(255, 255, 255, 0)
          );
          box-shadow: 0 1px 10px rgba(255, 255, 255, 0.1);
        }
      }
      .ph-c-i-video::-webkit-scrollbar {
        width: 8px;
        height: 8px;
      }

      /* 滚动条轨道（背景） */
      .ph-c-i-video::-webkit-scrollbar-track {
        background: black;
        border-radius: 4px;
      }

      /* 滚动条滑块（拇指） */
      .ph-c-i-video::-webkit-scrollbar-thumb {
        background: gray;
        border-radius: 4px;
      }

      /* 鼠标悬停时的滑块颜色 */
      .ph-c-i-video::-webkit-scrollbar-thumb:hover {
        background: #f5315e;
      }
    }
  }
  .ph-bottom-1{
    width: 100vw;
    flex: 1;
    background: #272727;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .ph-bottom-2{
      margin-top: 2%;
      width: 80vw;
      height: 70%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: start;
      .ph-b-list{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 20vw;
        .ph-b-l-header{
          color: white;
          font-size: 50px;
        }
        .ph-b-l-item{
          color: #6f6f6f;
        }
        .ph-b-l-icon-box{
          display: flex;
          gap: 10px;
          .ph-b-l-icon-item{
            position: relative;
            width: 88px;
            height: 88px;
            img{
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
            }
            .ph-b-l-icon-item-hover{
              opacity: 0;
            }
            .ph-b-l-icon-item-normal{
              opacity: 1;
            }
          }
          .ph-b-l-icon-item:hover{
            .ph-b-l-icon-item-hover{
              opacity: 1;
            }
            .ph-b-l-icon-item-normal{
              opacity: 0;
            }
          }
        }
        .ph-b-l-ios-download{
          width: 400px;
          height: auto;
        }
        .ph-b-l-android-download{
          width: 400px;
          height: auto;
        }
      }
    }
    .ph-bottom-line{
      height: 28%;
      width: 80vw;
      border-top: 1px solid hsla(0, 0%, 100%, .1);
      display: flex;
      justify-content: center;
      align-items: center;
      color: #6f6f6f;
    }
  }
}

.m-h-d-close{
  position: absolute;
  width: 100px;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
  top: 15vh;
  pointer-events: none;
  z-index: 9999;
}
.m-h-detail{
  position: fixed;
  z-index: 9999;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90vw;
  height: 70vh;
  background: linear-gradient(90deg, #f5315e, #f5315e, #ff512c);
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  padding: 50px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  animation: growHeight 1.5s ease forwards ;
  overflow-y: auto;
  .m-h-d-info{
    position: relative;
    height: 20vh;
    display: flex;
    gap: 10px;
    margin-top: 50px;
    img{
      height: 100%;
      width: auto;
      border-radius: 20px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    }
    .m-h-d-info-content{
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      gap: 10px;
      .m-h-d-info-c-title{
        font-size: 50px;
        font-weight: bold;
        color: white;
      }
      .m-h-d-info-c-desc{
        font-size: 30px;
        overflow-y: auto;
      }
      .m-h-d-info-c-desc::-webkit-scrollbar {
        width: 4px;
        height: 4px;
      }

      /* 滚动条轨道（背景） */
      .m-h-d-info-c-desc::-webkit-scrollbar-track {
        background: black;
        border-radius: 4px;
      }

      /* 滚动条滑块（拇指） */
      .m-h-d-info-c-desc::-webkit-scrollbar-thumb {
        background: gray;
        border-radius: 4px;
      }

      /* 鼠标悬停时的滑块颜色 */
      .m-h-d-info-c-desc::-webkit-scrollbar-thumb:hover {
        background: #f5315e;
      }
    }
  }
  .m-h-d-video-box{
    position: relative;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    gap: 0.9vw;
    margin-top: 2vh;
    .m-h-d-video-box-item{
      width: 8.19vw;
      aspect-ratio: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20%;
      color: white;
      font-size: 100%;
      font-weight: bold;
      span{
        margin-top: 5px;
      }
    }
    .playing{
      background: linear-gradient(
              to bottom right,
              rgb(245, 49, 94, 0.2),
              rgba(255, 255, 255, 0)
      );
      box-shadow: 0 1px 10px rgba(255, 255, 255, 0.1);
    }
    .free{
      background: linear-gradient(
              to bottom right,
              rgba(255, 255, 255, 0.2),
              rgba(255, 255, 255, 0)
      );
      box-shadow: 0 1px 10px rgba(255, 255, 255, 0.1);
    }
    .pay{
      background: linear-gradient(90deg, #FFD700, #FFC300, #FFB300);
      color: #6b3e00;
      box-shadow: 0 1px 10px rgba(255, 255, 255, 0.1);
    }
  }
  .m-h-d-video-box::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  /* 滚动条轨道（背景） */
  .m-h-d-video-box::-webkit-scrollbar-track {
    background: black;
    border-radius: 4px;
  }

  /* 滚动条滑块（拇指） */
  .m-h-d-video-box::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 4px;
  }

  /* 鼠标悬停时的滑块颜色 */
  .m-h-d-video-box::-webkit-scrollbar-thumb:hover {
    background: #f5315e;
  }
  @keyframes growHeight{
    from{
      height: 10vh;
    }
    to{
      height: 70vh;
    }
  }
  .m-h-d-title{
    font-size: 70px;
    font-weight: bold;
    width: 100%;
    text-align: start;
    margin-top: 2vh;
    color: white;
  }
  .m-h-d-item-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    justify-content:start;
    align-items: center;
    .m-h-d-item{
      position: relative;
      width: 30%;
      height: auto;
      aspect-ratio: 1/2;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      gap: 20px;
      .m-h-d-i-tip{
        position: absolute;
        top: 2px;
        left: 2px;
        padding: 5px 50px 5px 50px;
        font-size: 2vw;
        font-weight: bold;
        color: #6b3e00;
        border-radius: 9999px;
        background: linear-gradient(90deg, #FFD700, #FFC300, #FFB300);
      }
      .m-h-d-i-poster{
        width: 100%;
        height: auto;
        aspect-ratio: 1080/1440;
        border-radius: 30px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.3);
      }
      .m-h-d-i-name{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
        text-align: center;
        font-size: 40px;
        font-weight: bold;
      }
    }
  }
}
.m-h-detail::-webkit-scrollbar {
  display: none;
}

.m-home{
  width: 100%;
  height: 100%;
  background: #131313;
  display: flex;
  flex-direction: column;
  align-items: center;
  .mh-agent{
    position: absolute;
    right: 0;
    top: 24vh;
    width: 10vw;
    margin-right: 2vw;
    z-index: 990;
    opacity: 0.5;
    svg{
      width: 100%;
      aspect-ratio: 1;
      height: auto;
    }
  }
  .m-h-h-history{
    position: absolute;
    right: 0;
    top: 15vh;
    width: 10vw;
    margin-right: 2vw;
    z-index: 990;
    opacity: 0.5;
    svg{
      width: 100%;
      aspect-ratio: 1;
      height: auto;
    }
  }
  .m-h-h-recommend{
    position: absolute;
    right: 0;
    top: 33vh;
    width: 10vw;
    margin-right: 2vw;
    z-index: 990;
    opacity: 0.5;
    svg{
      width: 100%;
      aspect-ratio: 1;
      height: auto;
    }
  }
  .mh-purchase{
    position: absolute;
    z-index: 998;
    top: 50vh;
    transform: translateY(-50%);
    background: linear-gradient(90deg, #FFD700, #FFC300, #FFB300);;
    width: 90vw;
    height: 30vh;
    border-radius: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    .mh-p-title{
      font-size: 50px;
      font-weight: bold;
      color: #6b3e00;
    }
    .mh-p-description{
      width: 90%;
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      color: #6b3e00;
    }
    .mh-p-icon-box{
      display: flex;
      gap: 5vw;
      .icon{
        width: 12vw;
        height: 10vh;
      }
    }
  }
  .mh-p-mask{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: rgba(255,255,255,0.5);
    z-index: 1;
  }
  .m-h-header{
    margin-top: 1vh;
    width: 100%;
    display: flex;
    .m-h-h-left{
      width: 50%;
      display: flex;
      .m-h-h-logo{
        height: 5vh;
        margin-left: 2vw;
      }
    }
    .m-h-h-right{
      width: 50%;
      display: flex;
      justify-content: end;
      .m-h-h-login{
        background: linear-gradient(90deg, #f5315e, #f5315e, #ff512c);
        border-radius: 9999px;
        height: 5vh;
        padding-left: 40px;
        padding-right: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 100%;
        font-weight: bold;
        margin-right: 2vw;
        span{
          font-size: 20px;
        }
        .icon{
          width: 35px;
          height: 35px;
          margin-right: 10px;
          animation: pulse 1s infinite ease-in-out;
        }
        @keyframes pulse {
          0% {
            transform: scale(1);
          }
          50% {
            transform: scale(1.2); /* 变大一点 */
          }
          100% {
            transform: scale(1); /* 回到原始大小 */
          }
        }
      }
    }
  }
  .m-h-show{
    margin-top: 1vh;
    position: relative;
    height: 80vh;
    width: 100%;
  }
  .m-h-bottom{
    position: relative;
    height: 12vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .m-h-b-title{
      height: 6vh;
      display: flex;
      justify-content: center;
      align-items: center;
      span{
        font-size: 50px;
        font-weight: bold;
        color: gray;
        position: relative;
        background: linear-gradient(90deg, #f5315e, #f5315e, #ff512c);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      span::after{
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        height: 3px;
        width: 100%;
        background: linear-gradient(90deg, #f5315e, #f5315e, #ff512c);
        border-radius: 2px;
      }
    }
    .m-h-b-btn-box{
      width: 100%;
      height: 6vh;
      display: flex;
      justify-content: center;
      align-items: center;
      .m-h-b-btn-box-left{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .m-h-b-btn-box-no{
          font-size: 40px;
          font-weight: bold;
          color: gray;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .m-h-b-btn-box-right{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .m-h-b-btn-box-right-next{
          background: linear-gradient(90deg, #f5315e, #f5315e, #ff512c);
          padding: 10px 50px 10px 50px;
          font-size: 40px;
          font-weight: bold;
          color: white;
          border-radius: 9999px;
        }
      }
    }
  }
  .m-h-content{
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    .m-h-title{
      font-size: 5vw;
      font-weight: bold;
      color: white;
    }
    .m-h-poster{
      width: 60vw;
      border-radius: 40px;
    }
    .m-h-desc{
      width: 90vw;
      height: 10vh;
      font-size: 2vh;
      color: gray;
      overflow-y: scroll;
      white-space:normal;
      word-wrap:break-word;
    }
  }
  .m-h-video{
    position: relative;
    width: 90vw;
    flex: 0.7;
    height: 20vh;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow: auto;
    margin-top: 2vh;
    .m-h-video-item{
      width: 80px;
      height: 80px;
      aspect-ratio: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20%;
      color: white;
      font-size: 100%;
      font-weight: bold;
      span{
        margin-top: 5px;
      }
    }
    .playing{
      background: linear-gradient(
              to bottom right,
              rgb(245, 49, 94, 0.2),
              rgba(255, 255, 255, 0)
      );
      box-shadow: 0 1px 10px rgba(255, 255, 255, 0.1);
    }
    .free{
      background: linear-gradient(
              to bottom right,
              rgba(255, 255, 255, 0.2),
              rgba(255, 255, 255, 0)
      );
      box-shadow: 0 1px 10px rgba(255, 255, 255, 0.1);
    }
    .pay{
      background: linear-gradient(
              to bottom right,
              rgb(89, 194, 245, 0.5),
              rgba(255, 255, 255, 0)
      );
      box-shadow: 0 1px 10px rgba(255, 255, 255, 0.1);
    }
  }
  .m-h-video::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  /* 滚动条轨道（背景） */
  .m-h-video::-webkit-scrollbar-track {
    background: black;
    border-radius: 4px;
  }

  /* 滚动条滑块（拇指） */
  .m-h-video::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 4px;
  }

  /* 鼠标悬停时的滑块颜色 */
  .m-h-video::-webkit-scrollbar-thumb:hover {
    background: #f5315e;
  }
  .m-h-btn-box{
    position: absolute;
    bottom: 0;
    width: 90vw;
    height: 10vh;
    display: flex;
    gap: 10%;
    .m-h-btn-pay{
      background: linear-gradient(90deg, #2193b0, #6dd5ed);
      width: 45%;
      height: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 40px;
      svg{
        height: 60%;
        aspect-ratio: 1;
        width: auto;
      }
      span{
        font-size: 100%;
        color: white;
        font-weight: bold;
      }
    }
    .paid{
      background: linear-gradient(90deg, #bbbbbb, #f5f5f5);
    }
    .m-h-btn-play{
      background: linear-gradient(90deg, #f5315e, #f5315e, #ff512c);
      width: 45%;
      height: 80%;
      display: flex;
      justify-content: center;
      align-items: center;

      border-radius: 40px;
      img{
        height: 60%;
      }
      span{
        font-size: 100%;
        color: white;
        font-weight: bold;
      }
    }
  }
}